@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/PretendardVariable.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
  background-color: #fafafa;
}

section {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

::-webkit-scrollbar {
  overflow: scroll;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* React calendar custom */

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: #ffff;
  line-height: 3.5em;
  border-radius: 8px;
  padding: 0.5rem;
}
.react-calendar__tile--active {
  position: relative;
  color: black;
  z-index: 0;
}

.react-calendar__tile--active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(30, 126, 28, 0.1);
  border-radius: 100px;
  z-index: -1;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: none;
  color: black;
}

.react-calendar__tile--now {
  color: #1e7e1c;
  border-bottom: 1px solid #1e7e1c;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: #1e7e1c;
  border-radius: 0;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__navigation__arrow {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__navigation__label__labelText--from {
  font-size: 1.2rem;
  font-weight: 500;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #d1d1d1;
}
